{% extends "layout.html" %}

{% block content %}


  <!-- Demo styles -->
  <style>
    html, body {
      position: relative;
      height: 100%;
    }
    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#000;
      margin: 0;
      padding: 0;
    }
    .swiper-container {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

  </style>

<body>
  <!-- Swiper -->
  <div class="swiper-container">
    <div class="swiper-wrapper">
        {% for each_post in post %}
      <div class="swiper-slide">
          <section class="posting_list">
            <!-- 한 줄 세로로-->

                    <article class="posting">
                        <img src="{{ each_post.photo.url }}" class="posting_img" /><br/>
                        <div class="posting_txt">
                            <i class="fas fa-paw posting_like fa-2x"></i>
                            <i class="far fa-comments posting_like fa-2x"></i>
                            <i class="far fa-save posting_like fa-2x"></i>
                            <p>user_id</p>
                            <p class="posting_cont">{{ each_post.content }}</p>
                        </div>
                    </article>

          </section>
      </div>
        {% endfor %}

    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper('.swiper-container', {
      slidesPerView: 3,
      spaceBetween: 30,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      mousewheel: true,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },

    });
  </script>
</body>



{% endblock %}