{% extends "layout.html" %}

{% block content %}

    <section class="posting_list">
    <!-- 한 줄 세로로-->
        {% for each_post in post %}
            <article class="posting">
                <img src="{{ each_post.photo.url }}" class="posting_img" /><br/>
                <div class="posting_txt">
                    <i class="fas fa-paw posting_like fa-2x"></i>
                    <i class="far fa-comments posting_like fa-2x"></i>
                    <i class="far fa-save posting_like fa-2x"></i>
                    <p>user_id</p>
                    <p class="posting_cont">{{ each_post.content }}</p>
                </div>
            </article>
        {% endfor %}
    </section>

{% endblock %}