{% extends "layout.html" %}

{% block content %}



<div class="container">
                            <p>소통해요</p>
                            <p><a href="{%  url "explore:post_new" %}" class="btn btn-primary pull-right">New Post</a>
                            </p>
                            <div class="row">
                                {% for post in post_list %}
                                    <div class="col-4">

                                        <div class="card" style="width: 18rem;">
                                          {% if post.photo %}
                                            <img src="{{ post.photo.url }}" class="card-img-top" alt="..." width:atuo; height="200px"; >
                                          {% else %}
                                          <img src="/media/사자댕댕.jpg" class="card-img-top" alt="..." height="200px"; >
                                          {% endif %}
                                          <div class="card-body">
                                          <p class="card-text"><a href="{% url "explore:post_detail" post.id %}">
                                            {{ post.title }}</a></p>
                                          </div>
                                        </div></br>

                                    </div>





                                {% endfor %}
                            </div>
                        </div>


{% endblock %}