{% extends "layout.html" %}
{% load imagekit %}
{% load humanize %}


{% block content %}

    <style>
        .bottom-space {
            margin-bottom: 120px;
        }
    </style>

    <div class="bottom-space">
        <br><br><br><br><br>
        <h2>{{ post.title }}</h2><br><br>
        {% if post.photo %}
            {% thumbnail "300x300" post.photo -- style="" onclick="" class="" %}
        {% endif %}
        <br><br>
        <h1>{{ post.content|linebreaks }}</h1>
        <hr/>
        <h3>COMMENTS</h3>


        <hr/>




        <ul>
            {% for comment in post.comment_set.all %}
                <li>
                    {{ comment.content }}
                    <small>by {{ comment.author }}</small>
                    <small>at {{ comment.updated_at }}</small>
                    kk
                </li>
            {% endfor %}
        </ul>


        <form action="{% url 'explore:comment_new' id=post.id %}" method="POST" id="comment-form-{{ post.id }}" style="display: none;margin: 5px 0;">
            {% csrf_token %}
            {{ comment_form }}
            <span><input type="submit" value="게시" class="button_c button_c_n" /></span>
            <input type="hidden" name="next-e" value="{{ request.path }}" />
        </form>


        <a href="{% url "explore:post_list" %}" class="btn btn-primary">글 목록</a>
        {% if post.author.id == request.user.id %}
            <a href="{% url "explore:post_edit" post.id %}" class="btn btn-default">EDIT</a>
            <form class="delete" action="{% url "explore:post_delete" post.id %}" method="post">
                {% csrf_token %}
                <button class="btn btn-outline-danger">DELETE</button>
            </form>
        {% else %}
        {% endif %}
    </div>



{% endblock %}