{% extends "layout.html" %}
{% load imagekit %}
{% load humanize %}


{% block content %}
    <br><br><br><br><br>
    <h2>{{ post.title }}</h2><br><br>
    {% if post.photo %}
        {% thumbnail "300x300" post.photo -- style="" onclick="" class="" %}
    {% endif %}
    <br><br>
    <h1>{{ post.content|linebreaks }}</h1>
    <hr/>
    <h3>COMMENTS</h3>



    <hr/>


        <div class="panel panel-default post-item">

            <div class="panel-body">
                <form action="{% url 'explore:comment_new' id=post.id %}" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" name="content">
                </form>
            </div>
        </div>



    <ul>
        {% for comment in post.comment_set.all %}
            <li>
                {{ comment.content }}
                <small>by {{ comment.author }}</small>
                <small>at {{ comment.updated_at }}</small>
                kk
            </li>
        {% endfor %}
    </ul>


    <a href="{% url "explore:post_list" %}" class="btn btn-primary">글 목록</a>
    {% if post.author.id == request.user.id %}
        <a href="{% url "explore:post_edit" post.id %}" class="btn btn-default">EDIT</a>
        <form class="delete" action="{% url "explore:post_delete" post.id %}" method="post">
            {% csrf_token %}
            <button class="btn btn-outline-danger">DELETE</button>
        </form>
    {% else %}
    {% endif %}




{% endblock %}