<style>
.new_post_content {
    width: 500px;
    margin: 60px auto;
    text-align: center;
    background-color: #F2F2F2;
    border-radius: 20px;
    color: #6E6E6E;
    font-family: 'Varela Round', sans-serif;
}
.textbox {
    text-align: left;
    margin: 30px;
}
.btn {
    margin: 10px;
}
</style>

{% extends "layout.html" %}
{% load imagekit %}

{% block content %}

<div class="new_post_content">
    <br><br>
    <h1>{{ post.title }}</h1>
    <br>
    {% if post.photo %}
        {% thumbnail "300x300" post.photo -- style="" onclick="" class="" %}
    {% endif %}
    <br>
    <div class = textbox>
        {{ post.content|linebreaks }}
        <hr/>
        <h3>Comments</h3>
        <ul>
            {% for comment in post.comment_set.all %}
            <li>
                {{ comment.author }} :
                {{ comment.message }}
                &nbsp&nbsp&nbsp&nbsp<small>at {{ comment.updated_at }}</small>
            </li>
            {% endfor %}
        </ul>
    </div>
    <a href="{% url "explore:post_list" %}" class="btn btn-primary">글 목록</a>
    <a href="{% url "explore:post_edit" post.id %}" class="btn btn-default">수정</a>
</div>
{% endblock %}