<style>
.new_post_content {
    width: 500px;
    margin: 60px auto;
    text-align: center;
    background-color: #F2F2F2;
    border-radius: 20px;
    color: #6E6E6E;
    font-family: 'Abel', sans-serif;
}
.new_post_head {
    padding: 15px 0;
    margin: 0;
}
.new_post_button{
    margin-top: 20px;
    margin-bottom: 40px;
    background:#E2A9F3;
    color:#fff;
    border:none;
    position:relative;
    height:35px;
    font-size:1.2em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
}
.new_post_button:hover{
    background:#fff;
    color:#D358F7;
}
.new_post_button:before,.new_post_button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #E2A9F3;
    transition:400ms ease all;
}
.new_post_button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}
.new_post_button:hover:before,.new_post_button:hover:after{
    width:100%;
    transition:800ms ease all;
}
.preview {
  text-align: center;
  position: relative;
  color: #3897f0;
  margin-bottom: 50px;
}

.preview .upload {
  cursor: pointer;
}

.preview .preview-bg {
  width: 80px;
  height: 80px;
  display: inline-block;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  background-size: 413px 391px;
  background-position: -93px -52px;
}

.preview .preview-title {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -65%);
}
</style>

{#{% block content %}#}
{#<form action="" method="post" enctype="multipart/form-data">#}
{#    <div class="">#}
{#        <h1 class="">Profile Edit</h1>#}
{#        {% csrf_token %}#}
{#        <table style="width: 60%;height: 100px; margin: auto;text-align: center;">#}
{#            {{ form.as_table }}#}
{#        </table>#}
{#        <input type="submit" />#}
{#    </div>#}
{#</form>#}
{#{% endblock %}#}
{% extends "layout.html" %}
{% load static %}

{% block content %}
<section style="height: 100%;margin-top: 80px;margin-bottom: 170px;">
    <form action="" method="post" enctype="multipart/form-data">
        <div class="new_post_content">
            <h1 class="new_post_head"><strong>Edit Profile</strong></h1>
            <div class="preview">
              <div class="upload">
                  {% if post %}
                  <p><img id="img_id" src="{{ post.pic.url }}" style="width: 300px; height: 300px; object-fit: cover;border-radius: 100%;" ></p>
                  {% else %}
                  <span class="preview-bg"><img src="{% static 'images/capture.PNG' %}" style="width: 100%;height: 100%;"></span>
                  <p class="preview-title">프로필 이미지 추가</p>
                  <p><img id="img_id" src="" style="width: 300px; height: 300px; object-fit: cover" ></p>
                  {% endif %}
              </div>
            </div>
            {% csrf_token %}
                {{ form.as_p }}
            <button type="submit" class="new_post_button">Re-Upload</button>
        </div>
    </form>
</section>


<script type="text/javascript">
$("#photo-clear_id").remove();
$("label[for='photo-clear_id']").remove();

function upload_img(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    reader.onload = function (e) {
      $('#img_id').attr('src', e.target.result);
    }
    reader.readAsDataURL(input.files[0]);
  }
  $(".preview-bg").remove();
  $(".preview-title").remove();
}
$("#id_photo").change(function(){
  upload_img(this);
});
$(document).on('click', '.upload', function(){
  $("#id_photo").click();
});

</script>
{% endblock %}