<style>
    .profile_head {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    #profile_img {
        width: 200px;
        border-radius: 100%;

    }

    .profile_info {
        padding-left: 30%;
        padding-right: 30%;
    }

    .profile_info ul{
        padding-left: 0;
    }

    .profile_info li{
        list-style: none;
    }

    #profile_title {

    }
</style>


{% extends "accounts/layout.html" %}
{% load static %}
{% block content %}




    <div class="container">
        <div class="row">
            <div class="col-md-12 profile_head">
                {% if profile_user.socialaccount_set.all.first.get_avatar_url %}
                <img src="{{ profile_user.socialaccount_set.all.first.get_avatar_url }}" id="profile_img"/>
                {% else %}
                    <img src="{% static 'images/default-user-icon-13.jpg' %}" id="profile_img">
                {% endif %}
            </div>

            <div class="col-md-12">
                <div class="profile_info">
                    <h2 id="profile_title">{{ profile_user }}'s profile</h2>

                    <ul>
                        <li>username : {{ profile_user.username }}</li>
                        <li>email : {{ profile_user.email }}</li>
                        <li>date_joined : {{ profile_user.date_joined }}</li>
                        <li>phone_number : {{ profile_user.phone_number }}</li>
                    </ul>
                </div>
            </div>
<script>$('.follow-button').click(function() {
    $.get($(this).data('url'), function(response) {
        $('.message-section').text(response.message).show();
    });
});</script>

{#    <div class="message-section" style="display:none;"></div>#}
{#    {% for user_profile in all_user_profile %}#}
        <button data-url="{% url "follow" profile_user.id %}"
                class="follow-button" type="button">Follow</button>
{#    {% endfor %}#}

        </div>
    </div>






{% endblock %}