<style>
    .profile_head {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    #profile_img {
        width: 200px;
        border-radius: 100%;

    }

    .profile_info {
        padding-left: 30%;
        padding-right: 30%;
    }

    .profile_info ul{
        padding-left: 0;
    }

    .profile_info li{
        list-style: none;
    }

    #profile_title {

    }
    .button_center {
        margin: 0 auto;
    }
    .new_post_button:hover {
        text-decoration: none;
    }

    .popup_content {
        border-radius: 5px;
  margin: 10px;
  padding: 30px;
  max-width: 100%;
  {#border: 2px solid #444;#}
  background: white;
}
    .popup_content h2 {
        margin-bottom: 20px;
    }

    .f_img {
        border-radius: 100%;
        width: 30px;
        margin-right: 15px;
    }
    .f_list {
        list-style: none;
        padding-left: 0px;
    }

    .f_list li {
        margin-bottom: 10px;
    }
</style>


{% extends "accounts/layout.html" %}
{% load static %}
{% block content %}




    <div class="container">
        <div class="row">
            <div class="col-md-12 profile_head">
                {% if profile_user.socialaccount_set.all.first.get_avatar_url %}
                <img src="{{ profile_user.socialaccount_set.all.first.get_avatar_url }}" id="profile_img"/>
                {% else %}
                    <img src="{% static 'images/default-user-icon-13.jpg' %}" id="profile_img">
                {% endif %}
            </div>

            <div class="col-md-12">
                <div class="profile_info">
                    <h2 id="profile_title">{{ profile_user }}'s profile</h2>

                    <ul>
                        <li>username : {{ profile_user.username }}</li>
                        <li>email : {{ profile_user.email }}</li>
                        <li>date_joined : {{ profile_user.date_joined }}</li>
                        <li>phone_number : {{ profile_user.phone_number }}</li>
                        <li><a class="popup1_open">follower : {{ real_profile_user.follows.count }}</a></li>
                        <li><a class="popup2_open">follow : {{ profile_user.followed_by.count }}</a></li>
                    </ul>
                </div>
            </div>
                {% if profile_user.id == request_user %}

            <div class="button_center">
                <a href="{% url "my_profile:post_new" %}" class="new_post_button">
                    <button class="btn btn-secondary">New Post</button>
                </a>
                <a href="{% url "my_profile:my_post_list" user.username %}">
                    <button class="btn btn-secondary">My Post</button>
                </a>
            </div>
        {% else %}
        {% endif %}


       <div>
        {{ profile_user.id }}
        {{ request.user }}
           나를 팔로우 한사람
        {{ real_profile_user.follows.all }}
           내가 팔로우 한사람
           {{ profile_user.followed_by.all }}
        </div>


        <section id="popup1" class="popup_content">
            <h2>Followers</h2>
            <ul class="f_list">
            {% for each_follower in real_profile_user.follows.all %}
                <li>
                    {% if each_follower.socialaccount_set.all.first.get_avatar_url %}
                        <img src="{{ each_follower.socialaccount_set.all.first.get_avatar_url }}" class="f_img"/>
                    {% else %}
                        <img src="{% static 'images/default-user-icon-13.jpg' %}" class="f_img">
                    {% endif %}
                    <a href="{% url 'accounts:profile' user_profile_id=each_follower.id %}" class="s_font">{{ each_follower }}</a>
                </li>
            {% endfor %}
            </ul>
        </section>


        <section id="popup2" class="popup_content">
            <h2>Follows</h2>
            <ul class="f_list">
            {% for each_follower in profile_user.followed_by.all %}
                <li>
                    {% if each_follower.socialaccount_set.all.first.get_avatar_url %}
                        <img src="{{ each_follower.socialaccount_set.all.first.get_avatar_url }}" class="f_img"/>
                    {% else %}
                        <img src="{% static 'images/default-user-icon-13.jpg' %}" class="f_img">
                    {% endif %}
                    <a href="{% url 'accounts:profile' user_profile_id=each_follower.id %}" class="s_font">{{ each_follower.user }}</a>
                </li>
            {% endfor %}
            </ul>
        </section>


        {% if profile_user.id == request_user %}

        {% elif request.user in real_profile_user.follows.all %}
            <button class="follow-button btn btn-outline-danger" type="button"><a href="{% url 'accounts:unfollow' profile_user.id %}">UnFollow</a></button>
        {% else %}
            <button class="follow-button btn btn-outline-danger" type="button"><a href="{% url 'accounts:follow' profile_user.id %}">Follow</a></button>
        {% endif %}

        </div>
    </div>
{#    #}
{#<form action="{% url 'accounts:search' %}?next={{ request.path }}" method="get">#}
{#  <input type="text" name="q" value="{{ q }}">#}
{#  <input type="submit" value="검색">#}
{#</form>#}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/vast-engineering/jquery-popup-overlay@2/jquery.popupoverlay.min.js"></script>


<script>
    $('#popup1').popup({
    pagecontainer: '#page',
    escape: false
    });
    $('#popup2').popup({
    pagecontainer: '#page',
    escape: false
    });
</script>

{% endblock %}