<style>
    * {
        font-family: 'Abel', sans-serif;
    }
    .search_result {
        margin-top: 100px;
        text-align: center;
        width: 920px;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    h1 {
        margin-bottom: 30px !important;
        font-size: 35px !important;
    }

    .s_profile_container {
        float: left;
        width: 170px;
        display: inline-block;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 30px;

    }
    .s_img {
        border-radius: 100%;
        width: 85%;
        margin-bottom: 14px;
    }

    .s_font {
        font-size: 20px;
    }
    .no_result {
        font-size: 20px;
    }
</style>



{% extends "accounts/layout.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="search_result">
            {% if user_result %}
                <h1>USER</h1>
            {% for each_profile in user_result %}
            <!--Upon successful search book image with hyperlink appears -->
                <div class="s_profile_container">
{#                {% if each_profile.id in profile_user.id %}#}
                {% for profile_each_user in profile_user %}
                    {% if profile_each_user.id == each_profile.id %}

                        {% if each_profile.socialaccount_set.all.first.get_avatar_url %}
                            <img src="{{ each_profile.socialaccount_set.all.first.get_avatar_url }}" class="s_img" />
                        {% elif profile_each_user.pic %}
                            <img src="{{ profile_each_user.pic.url }}" class="s_img"/>
                        {% else %}
                            <img src="{% static 'images/default-user-icon-13.jpg' %}" class="s_img"/>
                        {% endif %}

                    {% endif %}
                {% endfor %}




                <a href="{% url 'accounts:profile' user_profile_id=each_profile.id %}" class="s_font">{{ each_profile.username }}</a>
                {#    <p>{{each_profile.username}}</p>#}
        {#    <p>Rs.{{each_book.price}}</p>#}
                </div>
            {% endfor %}
            {% else %}
                <h1>NO RESULT FOUND</h1>
                <div class="no_result">
                    Please check your input({{ q }})
                </div>
            {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}