<style>
    .s_img {
        border-radius: 100%;
        width: 100px;
        height: 100px;
        margin-bottom: 14px;
        object-fit: cover;
    }
    .sss {
        {#padding-top: 0px!important;#}
    }

    .recommend_con {
        display: block;
        width: 100%;
        vertical-align: middle;
        text-align: center;
    }

    .recommend_con h1 {
        margin-bottom: 50px;
    }
    .whole_user {
        width: 100%;
        height: 130px;
    }
    .recommend_user {
        text-align: center;
        float: left;
        margin-left: 30px;
        margin-right: 30px;

    }

    .r_font {
        font-size: 18px;
    }
</style>

{% extends "accounts/layout.html" %}
{% load static %}
{% block content %}


<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="colorlib.com">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
    <link href="{% static 'css/search.css' %}" rel="stylesheet" />
  </head>
  <body>
  <div class="container">
  {% if messages %}
        <div class="container" style="width: 500px;">
            {% for message in messages %}
        <div class="alert alert-{{ message.tags }} text-center" style="margin-top: 50px;">
            {{ message.message }}
        </div>
            {% endfor %}
        </div>
  {% endif %}
    <div clas="row">

    <div class="s003 sss">
      <form action="{% url 'accounts:search' %}?next={{ request.path }}" method="get">
        <div class="inner-form">
          <div class="input-field first-wrap">
            <div class="input-select">
              <select data-trigger="" name="choices-single-default">
                <option placeholder="">Category</option>
                <option>User ID</option>
                <option>Tag</option>
              </select>
            </div>
          </div>
          <div class="input-field second-wrap">
            <input id="search" type="text" placeholder="Enter Keywords?" name="q" value="{{ q }}" autofocus/>
          </div>
          <div class="input-field third-wrap">
            <button class="btn-search" type="submit">
              <svg class="svg-inline--fa fa-search fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
              </svg>
            </button>
          </div>
        </div>
      </form>
    </div>
    <br/>
    <div class="col-md-12">
            <div class="recommend_con">
                {% if common %}
                    <h1>Recommend User</h1>
                    <div class="whole_user">
                {% for each_profile in common %}
                    <div class="recommend_user">
                        {% for profile_each_user in all_profile %}
                            {% if profile_each_user.id == each_profile.id %}
                                {% if each_profile.socialaccount_set.all.first.get_avatar_url %}
                                    <img src="{{ each_profile.socialaccount_set.all.first.get_avatar_url }}" class="s_img" /><br/>
                                {% elif profile_each_user.pic %}
                                    <img src="{{ profile_each_user.pic.url }}" class="s_img"/><br/>
                                {% else %}
                                    <img src="{% static 'images/default-user-icon-13.jpg' %}" class="s_img"/><br/>
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                        <a href="{% url 'accounts:profile' user_profile_id=each_profile.id %}" class="r_font">{{ each_profile.username }}</a>
                    </div>
                {% endfor %}
                {% else %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    </div>

{##}
{#    {% for i in common %}#}
{#        {{ i }}#}
{#    {% endfor %}#}



    <script src="{% static 'js/extention/choices.js' %}"></script>
    <script>
      const choices = new Choices('[data-trigger]',
      {
        searchEnabled: false,
        itemSelectText: '',
      });

    </script>
  </body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>

{% endblock %}