<style>
.new_post_content {
    width: 500px;
    height: 360px;
    margin: 60px auto;
    text-align: center;
    background-color: #F2F2F2;
    border-radius: 20px;
    color: #6E6E6E;
    font-family: 'Abel', sans-serif;
}
.new_post_head {
    padding: 15px 0;
    margin: 0;
}
.new_post_button{
    margin-top: 50px;
    background:#E2A9F3;
    color:#fff;
    border:none;
    position:relative;
    height:30px;
    font-size:1.2em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
}
.new_post_button:hover{
    background:#fff;
    color:#D358F7;
}
.new_post_button:before,.new_post_button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #E2A9F3;
    transition:400ms ease all;
}
.new_post_button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}
.new_post_button:hover:before,.new_post_button:hover:after{
    width:100%;
    transition:800ms ease all;
}
</style>

{% extends "layout.html" %}


{% block content %}
<form action="" method="post" enctype="multipart/form-data">
    <div class="new_post_content">
        <h1 class="new_post_head"><strong>New Post</strong></h1>
        {% csrf_token %}
        <table style="width: 60%;height: 100px; margin: auto;">
            {{ form.as_table }}
        </table>
        <button type="submit" class="new_post_button">Upload</button>
    </div>
</form>

{% endblock %}